<div class="card">
  <div class="card-header">
      Patient
  </div>
  <div class="card-block">
      <div class="card-title">
          ID: 
      </div>
      <div class="card-text">
        <form clrForm>
          <clr-input-container>
              <label>Field 1 label</label>
              <input clrInput type="text" [(ngModel)]="model" name="example" />
          </clr-input-container>
          <clr-input-container>
              <label>Field 2 label</label>
              <input clrInput type="text" [(ngModel)]="model" name="example" />
          </clr-input-container>
          <clr-input-container>
            <label>Field 2 label</label>
            <input clrInput type="text" [(ngModel)]="model" name="example" />
        </clr-input-container>
        <clr-input-container>
          <label>Field 2 label</label>
          <input clrInput type="text" [(ngModel)]="model" name="example" />
      </clr-input-container>
      <clr-input-container>
        <label>Field 2 label</label>
        <input clrInput type="text" [(ngModel)]="model" name="example" />
    </clr-input-container>
      </form>
      </div>
  </div>
</div>