<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div style="text-align:center">
  <h3>
    Number of cases detected, by specimen collection date
  </h3>
  <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [legendTitle]="legendTitle"
  [legendPosition]="legendPosition"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="newCasesData"
>
</ngx-charts-line-chart> 
</div>

<div style="text-align:center">
  <h3>
    Cumulative cases, by age and gender
  </h3>
<ngx-charts-bar-vertical-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="ageCasesData"
  [gradient]="gradient"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [legend]="legend"
  [legendTitle]="ageLegendTitle"
  [legendPosition]="legendPosition"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabelAge"
  [yAxisLabel]="yAxisLabel"
  [animations]="animations"
>
</ngx-charts-bar-vertical-stacked>
</div>

