<div class="main-container">
  <header class="header-6">
    <div class="branding learningMachines"><clr-icon shape="layers"></clr-icon>Learning Machines</div>
    <div class="header-nav">
      <a href="..." class="active nav-link">
        <span class="nav-text">C-PATH</span></a>
        <a href="..." class="nav-link">
          <span class="nav-text">Dataset X</span></a>
          <a href="..." class="nav-link">
            <span class="nav-text">Dataset Y</span></a>
  </div>
  </header>
  <div class="content-container">
      <div class="content-area">
        <div class="clr-row vis">
          <div class="clr-col-12">
            <app-map></app-map>
          </div>
        </div>
        <div class="clr-row perspectives">
          <div class="clr-col-4">
            <app-patient></app-patient>
          </div>
          <div class="clr-col-4">
            <app-clinician></app-clinician>
          </div>
          <div class="clr-col-4">
            <app-engineer></app-engineer>
          </div>
       </div>
      </div>
  </div>
</div>