<ul class="clr-timeline">
  <li *ngFor="let year of years" class="clr-timeline-step">
    <div class="clr-timeline-step-header">{{year.value.getFullYear()}}</div>
    <div *ngIf="stepperMode=='train'; then allowTrainSelection else elseBlock"></div>
      <ng-template #allowTrainSelection>
        <clr-icon 
          [attr.shape]="year.icon" 
          aria-label="Not started" 
          (click)="toggleYearPurpose(year.value, 'train')">
        </clr-icon> 
      </ng-template>     
      <ng-template #elseBlock>
        <div *ngIf="year.purpose=='train'; then disableSelection else allowTestSelection"></div>
          <ng-template #disableSelection>
            <clr-icon shape="lock" aria-label="Not started"></clr-icon>  
          </ng-template>  
          <ng-template #allowTestSelection>
            <clr-icon [attr.shape]="year.icon" aria-label="Not started" (click)="toggleYearPurpose(year.value, 'test')"></clr-icon>  
          </ng-template>
      </ng-template>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">{{year.purpose}}</span>
      <span class="clr-timeline-step-description">
        {{year.numberOfRows}} rows
        <!-- <button 
          class="btn btn-sm" 
          *ngIf="year.value==latestTrainingYear"> 
          {{year.purpose | uppercase}}
        </button> -->
      </span>
    </div>
  </li>
</ul>

