<div class="clr-row"> 
  <div class="clr-col-4">
    <div>
      <h4>Task</h4> Predict probability of relapse occuring within 3 months
    </div>
    <form clrForm>
      <clr-range-container [clrRangeHasProgress]="true">
        <label>Patient</label>
        <input type="range" clrRange name="patient">
        <span>1000</span>
        <clr-control-helper>1000 of 2400</clr-control-helper>
      </clr-range-container>
    </form>
  </div> 
  <div class="clr-col-8 mapImage">
    <img src="../../../assets/LearningMachines.png" alt="Learning Machines" (click)="toggleModal()">
  </div>
</div>

<div class="modal" *ngIf="showModal">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header">
              <button aria-label="Close" class="close" type="button" (click)="toggleModal()">
                  <clr-icon aria-hidden="true" shape="close"></clr-icon>
              </button>
              <h3 class="modal-title">Learning Machines</h3>
          </div>
          <div class="modal-body">
            <img src="../../../assets/LearningMachines.png" alt="Learning Machines">
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="toggleModal()">Ok</button>
          </div>
      </div>
  </div>
</div>
<div class="modal-backdrop" *ngIf="showModal" aria-hidden="true"></div>


