<div class="main-container">
  <header class="header header-6">
    Learning Machines
  </header>
  <div class="content-container">
      <div class="content-area">
        <div class="clr-row vis">
          <div class="clr-col-12">
              <span>Play me</span>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-4">
            <span>Clinician</span>
          </div>
          <div class="clr-col-4">
            <span>Clinician</span>
        </div>
        <div class="clr-col-4">
          <span>Machine Learning Engineer</span>
      </div>
       </div>
      </div>
  </div>
</div>