

<clr-datagrid>
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Age</clr-dg-column>
  <clr-dg-column>Year Of Diagnosis</clr-dg-column>
  <clr-dg-column>Survival (Months)</clr-dg-column>
  <clr-dg-column>Cause of Death (COD)</clr-dg-column>
  <clr-dg-column>Predicted COD</clr-dg-column>
  <clr-dg-column>Predicted Certainty</clr-dg-column>

  <clr-dg-row *ngFor="let patient of selectedPatients">
    <clr-dg-cell>{{patient.id}}</clr-dg-cell>
    <clr-dg-cell>{{patient.personalInfo[0].value}}</clr-dg-cell>
    <clr-dg-cell>{{patient.yearOfDiagnosis}}</clr-dg-cell>
    <clr-dg-cell>{{patient.death.survivalMonths}}</clr-dg-cell>
    <clr-dg-cell>{{patient.death.causeOfDeath}}</clr-dg-cell>
    <clr-dg-cell>{{patient.death.predictedCauseOfDeath[0].value}}</clr-dg-cell>
    <clr-dg-cell>{{patient.death.predictedCauseOfDeath[0].confidence}}</clr-dg-cell>
  </clr-dg-row>

  <!-- <clr-dg-footer>{{selectedPatients.length}} patients</clr-dg-footer>  -->
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Patients per page</clr-dg-page-size>
        {{selectedPatients.length}} patients
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>