<ul class="clr-timeline clr-timeline-vertical">
  <!-- <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon> -->
  <!-- <clr-spinner clrMedium aria-label="In progress"></clr-spinner> -->
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">Monitor</div>
    <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Perform model performance monitoring</span>
      <span class="clr-timeline-step-description">Upload test data 
        <!-- <img src="assets/placeholder_350x150.png" alt="Example of an Image in a Card" /> -->
        <!-- <img src="https://clarity.design/assets/images/documentation/cards/placeholder_350x150.png" alt="Example of an Image in a Card" />
         -->
        <!-- <app-performance></app-performance> -->
        <button class="btn btn-sm">Train</button>
      </span>
    </div>
  </li> 
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">Deploy</div>
    <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"></clr-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Add/Update</span>
      <span class="clr-timeline-step-description">Enroll new patient or update existing patient records</span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">Predict</div>
    <clr-icon shape="circle" aria-label="Not started"></clr-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Get Prediction</span>
      <span class="clr-timeline-step-description">
        Patient data uploaded to algorithm. Model's prediction requested.
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <span class="clr-timeline-step-header">Treat</span>
    <clr-icon shape="circle" aria-label="Not started"></clr-icon>
      <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Generate Treatment Plan</span>
      <span class="clr-timeline-step-description">
        Communicate model output to health practitioner. Generate treatment plan and record treatment outcome.
      </span>
    </div>
  </li>
</ul>
