<div class="clr-row vis"> 
  <div class="clr-col-4">
    <div>
      Task: Predict probability of relapse occuring within 3 months
    </div>
    <form clrForm>
      <clr-range-container [clrRangeHasProgress]="true">
        <label>Patient</label>
        <input type="range" clrRange name="patient">
        <span>1000</span>
        <clr-control-helper>1000 of 2400</clr-control-helper>
      </clr-range-container>
    </form>
  </div> 
  <div class="clr-col-8">
    <img src="../../../assets/LearningMachines.png" alt="Learning Machines">
  </div>
</div>


