<div class="clr-row vis">
  <div class="clr-col-9">
    <img src="../../../assets/LearningMachines.png" alt="Learning Machines">
  </div>
  <div class="clr-col-3">
    <form clrForm>
      <clr-range-container [clrRangeHasProgress]="true">
        <label>Patients</label>
        <input type="range" clrRange name="patient">
        <clr-control-helper>Patient at simulation step</clr-control-helper>
      </clr-range-container>
    </form>
  </div> 
  <!-- <div class="clr-col-3">
    <div class="row">
      <div class="clr-col-12">
        <form clrForm>
          <clr-range-container>
            <input type="range" clrRange name="patient">
          </clr-range-container>
        </form>
      </div> 
      <div class="clr-col-5">
        <div class="btn-group visControl">
          <button type="button" class="btn" aria-label="home">
            Start
          </button>
        </div>
      </div> -->
    
    <!-- <div class="row">
      <div class="clr-col-12">
        <div class="btn-group visControl">
          <button type="button" class="btn" aria-label="home">
            Start
          </button>
        </div>
      </div>
    </div> 
  </div>-->
</div>


