
.learningMachinesBrand {
  padding-top: 2vh;
}

.learningMachinesHeader {
  max-height: 20vh;
}

.learningMachinesStepper {
  max-height: 20vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

.learningMachinesData {
  max-height: 60vh;
}