<div class="main-container">
  <header class="header-6">
    <div class="branding learningMachines"><clr-icon shape="layers"></clr-icon>Learning Machines</div>
    <div class="header-nav">
      <a href="..." class="active nav-link"><span class="nav-text">SEER Research</span></a>  
    </div>
  </header>

  <div class="content-container">
    <div class="content-area">
      <div class="clr-row" >
        <div class="clr-col-12">
          <app-line-chart [chartView]="performance"></app-line-chart>
        </div>
      </div>  
      <div class="clr-row">
        <div class="clr-col-3">
          <app-stepper
          (yearsUpdateEvent)="updateYearSelection()" (predictionRequestEvent)="printPredictions($event)" [years]="years"></app-stepper>
        </div>
        <div class="clr-col-9">
          <div class="clr-row">
            <div class="clr-col-12">
              <app-engineer [years]="years"></app-engineer>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-12">
              <app-patients [showPredictionsFlag]="showPredictions()" [years]="years"></app-patients>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>