<div class="card">
  <div class="card-header">
      Patient ID: {{patientID}}
      <!-- <div class="progress-block">
        <label for="demoProgressBar">Loaded record</label>
        <clr-progress-bar id="demoProgressBar" clrValue="100"></clr-progress-bar>
      </div> -->
  </div>
  <div class="card-block">
      <div class="card-text">
        <div class="clr-row">
          <div class="clr-col-6">
            <form clrForm>
              <label>Predicted</label>
              <clr-checkbox-container>
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox value="option1" name="options" />
                  <label>Option 1</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox value="option2" name="options" />
                  <label>Option 2 97%</label>
                </clr-checkbox-wrapper>
              </clr-checkbox-container>
            </form>
          </div>
          <div class="clr-col-6">
            <form clrForm>
              <label>Actual</label>
              <clr-checkbox-container>
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox value="option1" name="options" />
                  <label>Option 1</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox value="option2" name="options" />
                  <label>Option 2</label>
                </clr-checkbox-wrapper>
              </clr-checkbox-container>
            </form>
          </div>
        </div>
        
      </div>
  </div>
</div>